{% extends "base.html.twig" %}
{% block title %}Add A Speciality{% endblock title %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            {{form_start(form)}}
            {{form_widget(form)}}
            <button class="btn btn-primary">Add Person</button>
            {{form_end(form)}}
        </div>
    </div>


    <div class="row">
        <div class="col-6 mt-3 ml-1">
            {# <a href="{{path('list-spec')}}" class="btn btn-primary">Show Specialitys</a> #}
        </div>
    </div>
</div>
{% endblock body %}