{% extends 'base.html.twig' %}

{% block title %}Simplon Rules!{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        {% for row in person %}
        <div class="col-md-3 mt-2 ">
            <div class="card" style="width: 18rem;">
                <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ row.name }}</h5>
                    <h5 class="card-title">{{ row.surname }}</h5> 
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Birthdate: {{ row.birthdate|date("m/d/Y") }}</li>
                    <li class="list-group-item">Nationality: {{ row.nationality }}</li>
                </ul>
                <div class="card-body">
                    {# <a href="{{path('show-post', {id:row.id})}}" class="btn btn-primary">See More</a> #}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
    
{% endblock body %}